body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
    background-color: white;
    vertical-align: middle;
    border-collapse: collapse;
    empty-cells: show;
    table-layout: auto;
    padding-left: 40px;
    margin-left: 0;
    margin: 0 auto;
}
p {
    text-indent: 1.2em;
    line-height: 1.4em;
    margin: 0em 1em 0 2em;
    padding-top: 1em;
    text-align: left;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    color: #606060;
    padding: 10px;
    margin: 0 0 5px 0;
    font-family: Helvetica, Arial, sans-serif;
    border-color: maroon;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
h2 {
    font-size: 1.4em;
    text-align: left;
    margin: 1em 0 0 0.5em;
    font-weight: normal;
}
h2:first-letter {
}
h3 {
    font-size: 1.4em;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 0;
    font-weight: normal;
}
h3:first-letter {
}
h4 {
    font-size: 1.2em;
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 0;
}
h5 {
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
}
h6 {
    font-size: 2em;
    font-weight: normal;
    background: maroon;
    color: #f8f8f8;
    padding: 5px 1px 5px 5px;
    margin: 0 0 5px 0;
}
h6:first-letter {
}
exampleHead {
    font-size: 1.1em;
    text-align: center;
}
img {
    border-style: none;
    vertical-align: middle;
}
img.floatright {
    float: right;
}
.h4indent {
    margin-left: 5ex;
}
importantDef {
    border: 2px;
}
footer {
    font-size: 0.75em;
    text-align: left;
}
a:link {
    color: #a92626;
    text-decoration: none;
    border: none;
}
a:link:hover {
    color: #b42f2f;
    text-decoration: none;
    border-bottom: 1px #b42f2f solid;
}
a:link:visited {
    color: #C00;
    text-decoration: none;
    border-bottom: 1px #CCCCCC dotted;
}
a:link:active {
    color: #a92626;
}
#siteInfo {
    border: 1px solid gray;
    font-size: xx-small;
    color: gray;
    padding: 10px 5px 10px 5px;
    width: 67%;
    margin: auto;
    text-align: center;
    page-break-inside: avoid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
}
hr {
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.example {
    margin: 20px 5% 20px 10%;
    border: 2px solid gray;
    font-size: 0.9em;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.example h5 {
    text-align: center;
    padding-top: 0;
}
.example p {
    margin-left: 0em;
    margin-top: 0.1ex;
    margin-bottom: 0;
}
.iDemo {
    margin: 20px 5% 20px 10%;
    border: 6px double maroon;
    font-size: 0.9em;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.iDemo h4 {
    text-align: center;
    padding-top: 0;
}
.iDemo p {
    margin-left: 0em;
    margin-top: 0.1ex;
    margin-bottom: 0;
}
.keyconcept {
    margin: 20px 5% 20px 10%;
    border: thick maroon ridge;
    font-size: 0.9em;
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.keyconcept h5 {
    text-align: center;
    padding-top: 0;
}
.keyconcept ul {
    text-align: left;
}
.aside {
    margin: 15px 5% 15px 10%;
    border: thin maroon solid;
    padding: 1px 3px;
    background-color: #F0F0F0;
    font-size: 0.9em;
    border-radius: 10px;
}
.aside h5 {
    margin-bottom: 0em;
    text-align: center;
    font-weight: bold;
}
.topNavWidget a:hover {
    text-decoration: none;
    border: none;
}
.topNavWidget {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 35px;
    background-color: #f8f8f8;
    border-color: #ccc;
    border-width: 1px 2px 2px 0px;
    border-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: larger;
    z-index: 999;
}
/* For the exampleNavWidget (in Examples.css) we want it invisible. if using this css. 
(this widget shows up if you are viewing the page alone, but not if it is just included 
as part of a longer page that includes several examples)*/

.exampleNavWidget {
    display: none;
}
.navigate {
    font-size: 0.9em;
    color: #666666;
}
.figure {
    text-align: center;
    padding: 3px 0 3px 0;
}
p.noindent {
    text-indent: 0em;
    padding-top: 0em;
}
p.equation {
    text-align: center;
    margin-left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}
p.center {
    text-align: center;
    padding-top: 0em;
}
p.right-side {
    float: right;
    padding-top: 0;
}
/* floats content to rhs, and doesn't affect the other <p> tag */

p.equationNum {
    float: right;
    margin-top: -28pt;
    height: 20px;
    padding-top: 0;
}
p.note {
    text-indent: 0em;
    font-style: italic;
    font-size: smaller;
    padding-top: 0;
}
span.note {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
}
.Matlab, .MatlabSmall {
    color: #060;
    font-family: "Courier New", sans-serif;
    font-weight: bolder;
}
.MatlabFrame {
    width: 700px;
    height: 350px;
}
p.Matlab, pre.Matlab, pre.MatlabSmall {
    background-color: #F0F0F0;
    margin: 20px 8% 20px 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #080;
    padding: 5px 5px 4px 12px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
pre.MatLab {
    font-size: larger
}
;
.MatlabSmall {
    font-size: smaller;
}
.fullWidth {
    margin-top: 20px;
    width: 100%;
}
.halfWidth {
    margin-top: 20px;
    width: 50%;
}
p.spacer {
    margin-top: 1em;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
    padding-left: 3em;
}
li {
    text-align: left;
}
.center {
    text-align: center;
}
.alignleft {
    text-align: left;
}
.toclist {
    margin-top: 0;
    margin-left: 2em;
    padding-left: 2em;
    line-height: 1.5em;
}
.bull {
    margin-top: 0;
    margin-left: 5em;
    padding-left: 1em;
}
.greek {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
}
.myButton {
    background-color: #DDD;
    border: thick maroon solid;
    border-radius: 5px;
    color: maroon;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 5px 5px 5px #BBB;
}
.tooltip {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background: orange;
    padding: 5px;
    border: 1px solid black;
}
a:hover + .tooltip {
    display: block;
}
.box {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background: orange;
    padding: 5px;
    border: 1px solid black;
}
a:hover + .box {
    display: block;
}
