<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<meta name="MBGG Radar Chart for Analog Designs Evaluation and Comparison" content="RadarChart">
<title> MBGG Radar Chart for Analog Designs Evaluation and Comparison using Chart.js</title>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
<style>
body {
  height: 100%;
}
canvas {
  max-height: 400px;
}
</style>
</head>
<body>
  <canvas id="radarChart" width="800" height="400"></canvas>
  <script src='js/Chart.v3.7.1.min.js'></script>
<script>
var radarCanvas = document.getElementById("radarChart");
Chart.defaults.font.family = "Lato";
Chart.defaults.font.size = 11;
Chart.defaults.color = "black";
var radarData = {
  labels: {{ mydata[0]['Parameters'] }},
  datasets: [
    {% for data in mydata[1:] %}   
  {
    label: "{{ data['DesignName'] }}",
    backgroundColor: "{{ data['borderColor']}}",
    borderColor: "{{ data['borderColor']}}",
    fill: false,
    pointRadius: 6,
    pointHitRadius: 12,
    pointBorderWidth: 3,
    pointBackgroundColor: "{{ data['borderColor']}}",
    pointBorderColor: "black",
    pointHoverRadius: 10,
    pointStyle: "{{ data['pointStyle']}}",
    data: {{ data['data']}},
  },
   {% endfor %}	
]
}   
var chartOptions = {
  plugins: {
    title: {
      display: true,
      text: "Razavi's Analog Exa-gons (Analog Octagon)++",
      position: "bottom" },
    legend: {
      position: "bottom",
      labels: {
        padding: 10 } } },

  scales: {
    r: {
      max: 100,
      min: 0,
      ticks: {
        stepSize: 15,
        backdropColor: "orange",
        color: "white" },
      grid: {
        color: "black" },
      angleLines: {
        color: "gray" },
      pointLabels: {
        font: {
          size: 12 } } } } };

var radarChart = new Chart(radarCanvas, {
  type: 'radar',
  data: radarData,
  options: chartOptions });

</script>
</body>
</html>